

@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

body {
    background: #666;
    color: #fff;
    margin: 0;
    padding: 3rem;
    font-family: 'Reenie Beanie';
    display: flex;
    justify-content: center;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .selezione {
    margin-bottom: 4rem;
}
.container .post-it ul {
    list-style-type: '- ';
}
.container .post-it li {
    font-size: 2rem;
}

.container .post-it {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 20rem;
    width: 20rem;
    padding: 2rem;
    margin: 8rem auto;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
}

.container .post-it:hover,
.container .post-it:focus {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
}
input, textarea, button, select {
    height: 60px;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 100;
    padding: 0.875rem 0.875rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #999;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.3125rem;
}
input::placeholder, textarea::placeholder {
    color: #c1c1c1;
}
.obbligatorio::placeholder {
    color: #f35a02;
    font-style: italic;
    transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.checkbox input.obbligatorio {
    border: 1px solid #ff0000;
    position: relative;
    transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.checkbox input.obbligatorio:before {
    content: 'Cliccami!';
    color:  #f35a02;
    font-style: italic;
    background-color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;
    position: absolute;
    top: -1.9rem;
    left: -1.7rem;
}
.checkbox input.obbligatorio:checked:before, .checkbox input.obbligatorio:checked:after {
    display: none;
}
.checkbox input.obbligatorio:after {
    content: '';
    margin-left: 2px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}
section .grid {
    display: grid;
    align-items: start;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}
section .grid textarea, section .grid #email {
    grid-column: span 2;
}
button {    
    font-weight: 300;
    color: #fff;
    border: 1px solid #dee2e6;
    background-color: #0287f3;
    border: 1px solid #0287f3;
    transition: all 800ms cubic-bezier(0.23, 1, 0.32, 1);
}
button:hover {
    background-color: #1b476a;
    border: none;
    font-size: 1.1rem;
    transition: all 800ms cubic-bezier(0.23, 1, 0.32, 1);
}
.checkbox input, .checkbox label, .form button {
    color: white;
    cursor: pointer;
}
